
:root{
    --corVerde: #00796b;
    --corBranca: #FFFFFF;
    --corDoCorpo: #e0f7fa;
    --corDoTexto: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Papyrus;
    margin:0;
    padding:0;
    background-color: var(--corDoCorpo);
}

header{
    background-color: var(--corVerde);
    color: var(--corBranca);
    padding: 20px;
    text-align: center;
}

.grade-praias{
    display:grid;    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.praia{
    background-color: var(--corBranca);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: ponter;
    transition: transform 0.05s ease;
}

.grade-praias img{ 
    width: 100%;
    height: 300px;
    border-radius: 6px;
}

.descricao{
    display: none;
    margin-top: 10px;
    color: var(--corDoTexto);
}

.praia:hover{
    transform: scale(1.02);
}

footer{
    background-color: var(--corVerde);
    color: var(--corBranca);
    text-align: center;
    padding:10px;
}









