body{
    background: #d2d2c1 url(img/fundo.png);
    font-family: papyrus, fantasy;
}

#principal{
    width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

#menu{
    background: #c5c5b2;
    padding: 18px;
}

#menu a:hover{
    background: #7d7d44;
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;

}

#rodape{
    text-align: center;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.img-campanha{
    border: 10px solid #c3c3ae;
    border-radius: 2%;
    margin-left: 100px;
}

h1{
    color: #828271;
    font-size: 1.5em;
}

.menu-lateral
{
    position: fixed;
    top: 0;
    left: -200px; /* escondido inicialmente */
    width: 200px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    transition: left 0.3s ease;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}
 
/* Mostrar o menu ao passar o mouse na zona */
.area-sensivel-ao-mouse:hover + .menu-lateral,
.menu-lateral:hover
{
    left: 0;
}
